[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
tensorboard = "*"
pytest = "*"

[requires]
python_version = "3"

[packages]
hydra = "*"
torch = "*"
pillow = "*"
matplotlib = "*"
scikit-image = "*"
pytorch-lightning = "*"
hydra-core = "*"
torchvision = "*"
hilbertcurve = "*"
pytest = "*"
hydra-nevergrad-sweeper = "*"
torchsummary = "*"

[packages.high_order_layers_torch]
git = "git://github.com/jloveric/high-order-layers-torch"
editable = true
ref = "master"
